.matchListContainer{
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 12px;
}

.matchadeListNavBar{
    display: flex;
    justify-content: space-between;
    color: var(--black);
    text-transform: uppercase;
    align-items: center;
    height: 55px;
    border-bottom: solid 1px var(--lightgrey);
    padding: 20px 15px;
    margin: 0 15px;
    font-weight: 600;
}

.matchedNavBar{
    font-weight: 700;
}

.searchedNavBar{
    color: var(--darkgrey);
}

.matchedContainer{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    padding: 20px 15px;
    margin: 0 15px;
    height: 120px;
    border-bottom: solid 1px var(--lightgrey);
}

.image{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.textConatiner{
    display: flex;
    flex-direction: column;
    color: var(--black);
    line-height: 22px;
    font-weight: 400;
}

.textConatiner h2{
    font-size: 18px;
    font-weight: 700;
}

.matchListArrowContainer{
    display: flex;
    margin: 22px;
    justify-content: center;
}