:root {
  --darkred: #721904;
  --lightred: #8b341f;
  --darkblue: #455b81;
  --lightblue: #657b9f;
  --darkgreen: #7b932e;
  --lightgreen: #9eb45a;
  --darkgrey: #b2b2b2;
  --lightgrey: #e6e6e6;
  --black: #000000;
  --white: #ffffff;
  font-size: 15px;
  --body-font: var(--font-inter);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--white);
  display: flex;
  flex-direction: column;
}

.mainContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}
