.header {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 60;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15));
  border-bottom: 1px solid var(--lightgrey);
}

.headerIconContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.likeBarContainer {
  align-items: flex-start;
  justify-content: center;
  background-color: var(--white);
  display: flex;
  height: 140px;
  position: fixed;
  top: calc(100vh - 140px);
  padding: 12px 0;
  width: 100%;
  z-index: 56;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  max-width: 700px;
}

.superLikeConatiner {
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  border: solid 6px var(--lightgrey);
  height: 72px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.superLikeConatiner:active {
  color: var(--darkblue);
  border-color: var(--darkblue);
}

.likeConatiner {
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  border: solid 6px var(--lightgrey);
  color: var(--lightgreen);
  height: 92px;
  width: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likeConatiner:active {
  color: var(--darkgreen);
  border-color: var(--darkgreen);
}

.closeConatiner {
  font-size: 3rem;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  border: solid 6px var(--lightgrey);
  color: var(--lightred);
  height: 72px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeConatiner:active {
  color: var(--darkred);
  border-color: var(--darkred);
}

.heartHeader{
  color: var(--lightgreen);
  font-size: 1.8rem;

}

.heartHeader:active{
  color: var(--darkgreen);
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .likeBarContainer {
    top: calc(100vh - 190px);
    height: 190px;
  }
}